.page-title{
    display: block;
    text-align: center;
}
.money-image{
    height: 700;
}
h4{
    font-size: 20px;
   
    
}
input{
    background-color: #DCDCDC;
    border: none;
}
.error-warning{
    display: none;
    color: #f02849;
}