/* page title style added---------------------------------- */
.page-title{
    color: #D83A56;
    font-weight: 500;
}


/* ============Input style added=============== */
input{
    background-color: #DCDCDC;
    border: none;
}
.error-warning{
    display: none;
    color: #f02849;
}